*.pyc

# Photoshop
*.psd

images/
images_1440p/
images_1080p/

# eclipse / IDE
.project
.pydevproject
.settings/

# temp folder
tmp/

# configs
config/

# other
*.cfg
*.cprof

*.pdf
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
