body {
	margin: 10px;
	padding: 32px;
	font-family: Serif;
	font-size: 16px;
	color: white;
	background-image: linear-gradient(to right, #323232 0%, #202020 15%, #202020 85%, #323232 100%);
}

table {
    border-collapse: collapse;
    border: 1px solid #999;
    position: relative;
    z-index: 1;
}

table th {
    background-color: #bbb;
    color: #000;
    padding: 0.5em 0.5em;
    cursor: default;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort)::after {
    content: "\25B4\25BE";
}

table tr td {
    padding: 0.2em 0.5em;
    text-align: center;
}

tbody tr:hover {
    background-color: #444;
}

tbody td:hover {
    background-color: #666;
}

table tr td:not(:first-of-type) {
    border-left: 1px solid #555;
}

.box {
	margin: 0 auto 5% auto; /* horizontal and vertical margin */
	text-align: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Style the tab */
.tab {
    background-color: #bbb;
    overflow: hidden;
    border-radius: 0.5em 0.5em 0 0;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #eee;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ddd;
}

.increase {
    color: green;
    font-size: 12px;
}

.decrease {
    color: red;
    font-size: 12px;
}